#contact {
    padding-inline: 10vw;
    min-height: 100vh;
    margin-top: 4rem;
    margin-bottom: 2rem;

    header {
        text-align: center;

        h4 {
            font-weight: 700;
            color: $primary;
            font-size: 1.5rem;
        }

        span {
            color: $secondery;
            font-weight: 500;
            position: relative;
            padding-inline: 2.5rem;

            &::before {
                position: absolute;
                content: "";
                height: 5px;
                width: 25px;
                left: 0;
                background: $primary;
                top: 50%;
                border-radius: 10px;
                transform: translateY(-50%);
            }

            &::after {
                position: absolute;
                content: "";
                height: 4px;
                width: 25px;
                right: 0;
                background: $primary;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 10px;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        padding: 3rem 0px;

        form {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .line-one {
                display: flex;
                align-items: center;
                width: 100%;
                gap: .5rem;

                .input {
                    width: 50%;
                }

            }

            button {
                padding: 1rem 0px;
                background: $primary;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    transform: scale(1.03);
                }
            }
        }

        .illustration {
            width: 50%;
            display: flex;
            justify-content: flex-end;

            img {
                width: 80%;
            }
        }
    }
}

@media (max-width:640px) {
    #contact {
        padding-inline: 5vw;

        .container {
            flex-direction: column;

            form {
                width: 100%;
                margin-bottom: 2rem;
            }

            .illustration {
                width: 100%;
                justify-content: center;
            }

        }
    }
}