.landing-page {
    .img-landing-page {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    min-height: 100vh;
    padding-inline: 8vw;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;

        img{
            width:300px;
        }

        h2 {
            font-weight: 700;
            font-size: 4rem;
            color: $primary;

            span {
                color: $secondery;
            }
        }
        p{
            font-weight: 600;
            font-size: 1.5rem;
            color: #555555;
        }

        a{
            background: $primary;
            color :#FFFFFF;
            padding :0.75rem 1.75rem;
            border-radius: 8px;
            font-size: 1.1rem;
            margin: 1rem 0rem;
        }

        h4 {
             position: relative;
             margin: 0rem 5.5rem;
             font-size: 1.25rem;
             color:#777;
             font-weight: 400;

                &::before{
                content: "";
                position: absolute;
                top:50%;
                left: -40px;
                height: 3px;
                width: 25px;
                border-radius: 10px;
                background-color: #777;
                transform: translateY(-50%);      
            }
            &::after{
                content: "";
                position: absolute;
                top:50%;
                right: -40px;
                height: 3px;
                width: 25px;
                border-radius: 10px;
                background-color: #777;
                transform: translateY(-50%);
            }
        }

    }
}


@media(max-width:640px){
    .landing-page{
        align-items: flex-end;
        .img-landing-page {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        .container{
            padding-bottom: 3rem;

            h2{
                font-size: 2rem;
            }

            p{
                font-size: 1rem;
            }

            a{
                font-size: 1rem;
            }

            img{
                width: 70%;
            }

            p{}
        }
    }
}