.user-settings {
    display: flex;
    align-items: center;

    .nav {
        background: $primary;
        width: 22%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 1rem;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 1rem;
            

            .link{
                width:40%;
                display: flex;
                color:white;
                gap:1rem;
                cursor: pointer;

                .icon{
                    width:1.5rem;
                    height:1.5rem;
                }
            }

            .top {
                width: 100%;
                display: flex;
                flex-direction: column;

                .user {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:1rem;

                    &>div{
                        background: #888888;
                        border: none;
                        outline: none;
                        border-radius: 50%;
                        width: 50%;

                        .avatar {
                            width: 100%;
                            height: 100%;
                            color: white;
                        }
                    }

                    h2 {
                        color: white;
                        font-size: 1.25rem;
                        width: 100%;
                        text-align: center;
                        font-weight: 600;
                    }
                }

                .container-span {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    
                    .inner{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width:40%;
                        gap:1.5rem;
    
                        h4 {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            color: white;

                            .icon{
                                width:1.5rem;
                                height:1.5rem;
                            }
    
                            p {
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }
                    }
                }

            }


        }


    }

    .container-main {
        width: 80%;
        display: flex;
        align-items: center;

        .modify-account {
            width: 50%;
            padding: 2rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: $secondery;
                font-size: 2rem;
                font-weight: 700;
                margin: 2rem 0;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                position: relative;

                .conatiner-btn {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    button {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem 1.25rem;
                        border-radius: 5px;
                        background: $primary;
                        outline: none;
                        border: none;
                        color: white;
                        transition: .5s;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.03);
                        }

                        p {
                            margin-left: 0.5rem;
                        }
                    }

                    #first-btn {
                        background: #008000;
                        color: white;
                    }
                }

            }
        }

        .container-img {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 95%;
            }
        }
    }

}