@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary :#BF1020; 
$secondery:#777;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F6f6f6;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

@import "./landingPage"; 
@import "./nav"; 
@import "./services";
@import "./home"; 
@import "./about";
@import "./contact";
@import "./auth";
@import "./pageRent";
@import "./pagination";
@import "./rentDetaills";
